[submodule "bugBounty/amass"]
	path = bugBounty/amass
	url = https://github.com/owasp/amass
[submodule "bugBounty/assetfinder"]
	path = bugBounty/assetfinder
	url = https://github.com/tomnomnom/assetfinder
[submodule "bugBounty/subfinder"]
	path = bugBounty/subfinder
	url = https://github.com/projectdiscovery/subfinder
[submodule "bugBounty/hakrevdns"]
	path = bugBounty/hakrevdns
	url = https://github.com/hakluke/hakrevdns
[submodule "bugBounty/shuffledns"]
	path = bugBounty/shuffledns
	url = https://github.com/projectdiscovery/shuffledns
[submodule "bugBounty/massdns"]
	path = bugBounty/massdns
	url = https://github.com/blechschmidt/massdns
[submodule "bugBounty/httprobe"]
	path = bugBounty/httprobe
	url = https://github.com/tomnomnom/httprobe
[submodule "bugBounty/httpx"]
	path = bugBounty/httpx
	url = https://github.com/projectdiscovery/httpx
[submodule "bugBounty/eyewitness"]
	path = bugBounty/eyewitness
	url = https://github.com/fortynorthsecurity/eyewitness
[submodule "bugBounty/aquatone"]
	path = bugBounty/aquatone
	url = https://github.com/michenriksen/aquatone
[submodule "bugBounty/masscan"]
	path = bugBounty/masscan
	url = https://github.com/robertdavidgraham/masscan
[submodule "bugBounty/ffuf"]
	path = bugBounty/ffuf
	url = https://github.com/ffuf/ffuf
[submodule "bugBounty/dirsearch"]
	path = bugBounty/dirsearch
	url = https://github.com/maurosoria/dirsearch
[submodule "bugBounty/arjun"]
	path = bugBounty/arjun
	url = https://github.com/s0md3v/arjun
[submodule "osint/Linkedint"]
	path = osint/Linkedint
	url = https://github.com/vysecurity/Linkedint
[submodule "bugBounty/can-i-take-over-xyz"]
	path = bugBounty/can-i-take-over-xyz
	url = https://github.com/edoverflow/can-i-take-over-xyz
[submodule "bugBounty/subzy"]
	path = bugBounty/subzy
	url = https://github.com/lukasikic/subzy
[submodule "seclists"]
	path = seclists
	url = https://github.com/danielmiessler/seclists
[submodule "bugBounty/prips"]
	path = bugBounty/prips
	url = https://gitlab.com/prips/prips.git
[submodule "bugBounty/metabigor"]
	path = bugBounty/metabigor
	url = https://github.com/j3ssie/metabigor
[submodule "bugBounty/spyse.py"]
	path = bugBounty/spyse.py
	url = https://github.com/zeropwn/spyse.py.git
[submodule "bugBounty/Findomain"]
	path = bugBounty/Findomain
	url = https://github.com/Findomain/Findomain
[submodule "bugBounty/byp4xx"]
	path = bugBounty/byp4xx
	url = https://github.com/lobuhi/byp4xx.git
[submodule "bugBounty/virtual-host-discovery"]
	path = bugBounty/virtual-host-discovery
	url = https://github.com/jobertabma/virtual-host-discovery.git
[submodule "bugBounty/lazyrecon"]
	path = bugBounty/lazyrecon
	url = https://github.com/nahamsec/lazyrecon.git
[submodule "bugBounty/bypass-403"]
	path = bugBounty/bypass-403
	url = https://github.com/iamj0ker/bypass-403.git
[submodule "osint/iKy"]
	path = osint/iKy
	url = https://github.com/kennbroorg/iKy
